.order-placed-container {
  text-align: center;
  padding: 4rem 1rem;
  height: 100vh;
  background-color: #f8f6f4;
  font-family: "Poppins", sans-serif;
}

.tick-mark {
  font-size: 70px;
  margin-bottom: 20px;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #555;
  font-size: 14px;
}
