.pay-container {
  text-align: center;
  padding: 3rem 1rem;
  background-color: #fffdf7;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.pay-heading {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

.payment-box {
  background-color: #f8f6f4;
  padding: 30px;
  width: 320px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.payment-box h3 {
  margin-bottom: 15px;
}

.payment-box p {
  margin: 5px 0;
  font-size: 15px;
  color: #333;
}

.pay-btn {
  background-color: #5b7c1a;
  color: white;
  padding: 12px 40px;
  border: none;
  border-radius: 25px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.pay-btn:hover {
  background-color: #3e5713;
}

.note {
  margin-top: 30px;
  color: #777;
  font-size: 13px;
}
